name: prova_p2
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:

  sdk: '>=3.4.0 <4.0.0'

dependencies:

  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  firebase_core: ^3.0.0
  firebase_auth: ^5.0.0
  cloud_firestore: ^5.0.1
  intl: ^0.19.0
  fl_chart: ^0.68.0

dev_dependencies:

  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:

  uses-material-design: true



  assets:

    - assets/images/logo_wl.png